# fly.toml app configuration file generated for nwc-faucet on 2026-01-15T16:50:55+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'nwc-faucet'
primary_region = 'fra'

[build]

[env]
  BASE_URL="https://faucet.nwc.dev"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
